@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #191919;
  max-width: 1200px;
  margin: 0 auto;
  color: #fff;
}

header {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
}

header .header-icon {
  display: none;
}

header .header-navs {
  font-family: "DM Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  font-weight: 500;
}

header .header-navs > a {
  text-decoration: none;
  color: #a7a7a7;
  margin-bottom: 0.3rem;
}

header img.logo {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
}

header nav {
  margin-left: auto;
  display: flex;
  align-items: center;
}

header nav a {
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  color: #a7a7a7;
  margin-right: 2.5rem;
  transition: 250ms ease;
}

header nav a:hover {
  color: #cccccc;
}

header .nav-icons {
  display: flex;
  align-items: center;
}

header .nav-icons svg {
  transition: 250ms ease;
}

header .nav-icons svg:hover {
  fill: #cccccc;
}

header .nav-icons a {
  margin-right: 0.75rem;
}

main .about {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  padding: 6rem 0;
}

main .about > * {
  transition: 1s;
}

main .about img {
  justify-self: end;
  border-radius: 100%;
  width: 20rem;
}

main .about .text {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: -1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2.5rem;
}

main .about .text .text-part-3 {
  background: linear-gradient(90deg, #13b0f5, #e70faa 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

main .tech-stack {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  margin-bottom: 100px;
}

main .tech-stack .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
  font-family: "Poppins", sans-serif;
}

main .tech-stack .title .highlighted {
  font-weight: 700;
  color: #cccccc;
  font-size: 2rem;
  margin-bottom: 1rem;
}

main .tech-stack .title .light {
  font-weight: 400;
  font-size: 1.25rem;
  color: #a7a7a7;
}

main .tech-stack .icons {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-row-gap: 2rem;
}

main .tech-stack .icons .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

main .projects .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
  font-family: "Poppins", sans-serif;
}

main .projects .title .highlighted {
  font-weight: 700;
  color: #cccccc;
  font-size: 2rem;
  margin-bottom: 1rem;
}

main .projects .title .light {
  font-weight: 400;
  font-size: 1.25rem;
  color: #a7a7a7;
}

main .projects .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  margin-bottom: 5rem;
}

main .projects .project {
  background: #363636;
  box-shadow: 2px 2px 100px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  width: 21.5rem;
  height: 32.5rem;
  justify-self: center;
  display: flex;
  flex-direction: column;
}

main .projects .project:nth-of-type(1),
main .projects .project:nth-of-type(4) {
  justify-self: end;
}

main .projects .project:nth-of-type(3),
main .projects .project:nth-of-type(6) {
  justify-self: start;
}

main .projects .project > img {
  width: 100%;
}

main .projects .project > div {
  flex-grow: 1;
}

main .projects .project-details {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  padding: 1rem 1.5rem;
}

main .projects .project-name {
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
  color: #cccccc;
  margin-bottom: 1rem;
}

main .projects .project-description {
  font-weight: 300;
  font-size: 1rem;
  color: #cccccc;
  flex-grow: 1;
}

main .projects .project-tech-stack {
  font-weight: 300;
  color: #cccccc;
  font-size: 0.85rem;

  display: flex;
  flex-wrap: wrap;
}

main .projects .project-tech-stack > span {
  font-weight: 400;
  font-size: 0.9rem;
}

main .projects .project-tech-stack .tech-stack-text {
  margin-right: 0.2rem;
}

main .projects .project-tech-stack .tech {
  margin: 0 0.1rem 0.2rem 0.1rem;
  background: #cccccc;
  color: #191919;
  border-radius: 2px;
  padding: 0.1rem 0.2rem;
}

main .projects .links {
  display: flex;
  margin-top: 0.75rem;
}

main .projects .links > div:nth-of-type(2) {
  justify-self: end;
  margin-left: auto;
}

main .projects .links > a {
  display: flex;
  align-items: center;
  text-decoration-line: underline;
  color: #ffffff;
}

main .projects .links p {
  font-weight: 400;
  font-size: 0.9rem;
  margin-left: 0.5rem;
}

main .projects .view-code {
  flex-grow: 1;
  margin-left: 2.5rem;
  margin-right: 10px;
  justify-content: end;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 0 3.5rem;
  font-size: 0.95em;
  transition: 250ms;
}

footer .contact {
  display: flex;
  align-items: center;
  padding: 2rem 0.1rem;
}

footer .contact img.logo {
  width: 2.5rem;
  height: 2.5rem;
}

footer .contact .mail {
  margin-left: auto;
  margin-right: 2rem;
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: #a7a7a7;
  transition: 250ms ease;
}

footer .contact .mail:hover {
  color: #cccccc;
}

footer .contact .nav-icons a {
  margin-right: 0.75rem;
}

footer .contact .nav-icons svg {
  transition: 250ms ease;
}

footer .contact .nav-icons svg:hover {
  fill: #cccccc;
}

footer .footer-nav {
  display: flex;
  align-items: center;
}

footer .footer-nav nav {
  margin-right: auto;
  display: flex;
  align-items: center;
  padding: 2rem 0;
}

footer .footer-nav nav a {
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  color: #a7a7a7;
  margin-right: 2.5rem;
  transition: 250ms ease;
}

footer .footer-nav nav a:hover {
  color: #cccccc;
}

footer .footer-nav p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #a7a7a7;
  text-align: right;
}

footer .footer-nav p span {
  background: linear-gradient(90deg, #13b0f5 -2.06%, #e70faa 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  mix-blend-mode: normal;
}

footer .divider {
  mix-blend-mode: normal;
  opacity: 0.3;
  border: 2px solid #42446e;
}

.disabled {
  opacity: 0%;
}

.d-none {
  display: none !important;
}

.tooltip {
  position: relative;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 13px;
}

.tooltip::before,
.tooltip::after {
  --scale: 0;
  --arrow-size: 10px;
  --tooltip-color: #121212;
  --tooltip-text-color: #cccccc;

  position: absolute;
  bottom: -0.75rem;
  left: 50%;
  transform: translateX(-50%) translateY(var(--translate-y, 0))
    scale(var(--scale));
  transition: 150ms transform;
  transform-origin: top center;
}

.tooltip::before {
  --translate-y: calc(100% - var(--arrow-size));

  content: attr(data-tooltip);
  color: var(--tooltip-text-color);
  padding: 0.5rem 0.75rem;
  border-radius: 0.3rem;
  text-align: center;
  width: max-content;
  max-width: 100%;
  background: var(--tooltip-color);
}

.tooltip:hover::before,
.tooltip:hover::after {
  --scale: 1;
}

.tooltip::after {
  --translate-y: calc(-1 * var(--arrow-size));

  content: "";
  border: var(--arrow-size) solid transparent;
  border-bottom-color: var(--tooltip-color);
  transform-origin: bottom center;
}

@media (max-width: 1300px) {
  header {
    padding: 20px 2rem;
  }

  main .about {
    padding: 6rem 2rem;
  }
}

@media (max-width: 1200px) {
  main .tech-stack .icons {
    grid-template-columns: repeat(3, 1fr);
  }

  main .projects .content {
    grid-template-columns: repeat(2, 1fr);
  }

  main .projects .project:nth-of-type(1),
  main .projects .project:nth-of-type(3),
  main .projects .project:nth-of-type(4),
  main .projects .project:nth-of-type(6) {
    justify-self: center;
  }
}

@media (min-width: 769px) {
  header .header-navs {
    display: none !important;
  }
}

@media (max-width: 768px) {
  header nav,
  header .nav-icons {
    display: none;
  }

  header .header-navs > a {
    text-decoration: none;
    color: #a7a7a7;
    margin-bottom: 0.2rem;
  }

  header .header-navs > a:hover {
    color: #cccccc;
  }

  header .header-icon {
    display: initial;
    margin-left: auto;
    cursor: pointer;
  }

  main .about {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 2.5rem;
    margin-bottom: 70px;
  }

  main .about .text {
    text-align: center;
    margin-top: 1rem;
  }

  main .about img {
    width: 15rem;
  }

  main .tech-stack .title .light {
    text-align: center;
    padding: 0 1rem;
  }

  main .tech-stack .icons {
    grid-template-columns: repeat(2, 1fr);
  }

  main .projects .content {
    grid-template-columns: 1fr;
  }

  main .projects .project:nth-of-type(1),
  main .projects .project:nth-of-type(3),
  main .projects .project:nth-of-type(4),
  main .projects .project:nth-of-type(6) {
    justify-self: center;
  }

  footer .contact {
    display: grid;
    grid-template-areas:
      "logo mail"
      "logo nav-icons";
  }

  footer .contact .logo-a {
    grid-area: logo;
  }

  footer .contact .mail {
    margin-right: 0;
    grid-area: mail;
  }

  footer .contact .nav-icons {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.5rem;
    grid-area: nav-icons;
  }

  footer .contact .nav-icons a {
    margin-right: 0;
    margin-left: 0.75rem;
  }

  footer .footer-nav nav {
    flex-direction: column;
    align-items: start;
  }

  footer .footer-nav nav a {
    margin-bottom: 0.35rem;
  }
}

@media (max-width: 576px) {
  footer {
    padding: 0 2rem;
  }
}
